[Desktop Entry]
Version=1.0
Type=Application
Name=Orion
Icon=/usr/local/share/icons/orion.svg
Exec=/usr/bin/orion
Comment=Seek and watch streams on Twitch
Categories=Games
Terminal=false
StartupWMClass=orion
