[Desktop Entry]
Version=1.0
Type=Application
Name=Orion
Icon=orion
Exec=/usr/bin/orion
Comment=Seek and watch streams on Twitch
Categories=Game
Terminal=false
StartupWMClass=orion
