[Desktop Entry]
Type=Application
Name=Orion
Icon=orion
Exec=orion
Comment=A Twitch.tv desktop client
Categories=AudioVideo;Video;TV;Network;Chat;Qt;
Keywords=chat;watch;live;livestream;livestreams;streams;stream;
Terminal=false
StartupWMClass=orion
